/Laboratorio/nbproject/private/
/Laboratorio/build/
/Problema2/nbproject/private/
/Problema2/build/
/problema3/nbproject/private/
/problema3/build/
/Problema 4/nbproject/private/
/Problema 4/build/
/Problema1/nbproject/private/
/problema4/nbproject/private/